.navbar {
  font-size: 23px;
  background-color: #845460;
  font-family: "Redressed", cursive;
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
}

.signin a {
  color: rgb(234, 234, 234);
  text-decoration: none;
}
.navbar .cart span {
  font-size: 19px;
}

.logo,
.menu,
.location,
.cart,
.logout {
  cursor: pointer;
}
